
html{
    background: white;
    height: auto;
}

body{
    max-width:600px;
    width:600px;
    margin: 0 auto;
    height: auto;
    background: linear-gradient( #e65c00,#F9D423);
    
}



/*********************************************************************/
/*WEATHER RETANGEL********/
/*********************************************************************/

.weather-container{
    clear: both;
    display: block;
    text-align: center;
}

/* CONTAINER */
.weather-break-line{
    margin: 0 20px;
}

img.weather-icon{
    position: relative;
    width: 250px;
    margin: 0 auto;
}




/* CITY and DATE CONTAINER */
section.weather-date{
    margin: -10px auto;
    text-align: center;
    background: url("../images//bkg_photo2.png")center center no-repeat;
    background-size: cover;
    width: 100%;
}

h1.city-name{
    color: rgb(46, 46, 46);
    font-weight: bold;
    text-transform: uppercase;
}

.day-week{
    color: rgb(46, 46, 46);
    clear: both;
}

p{
    font-size: 19px;
    line-height: 90%;
    color: rgb(46, 46, 46);
}



.grade-text{
    clear: both;
    font-weight: bold;
    margin: 5px auto;
    position: relative;
    font-size: 5em;
    color: white;
}

/* DETAIL BOXES */  

.weather-dt-boxes{
    display: flex;
    justify-content: center;
    width: 600px;
    margin-bottom: 80px;
    text-align: center;
}

.detail-box{
    position: relative;
    display: inline-block;
    opacity: 0.8;
    top: 50px;
    margin: 5px;
    width: 30%;
    height: 120%;
    background-color: darkslategray;
}
   

.detail-box h5{
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}

.detail-box p{
    color: rgb(43, 248, 2);
    background-color: black;
    font-size: 20px;
    font-style: italic;
}

/*********************************************************************/
/*WEATHER PROGNOS********/
/*********************************************************************/

.weather-prognos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
    margin-top: 50px;
    text-align: center;
}

.detail-prognos{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 5px;
    width: 20%;
    background-color: olivedrab;
}

.detail-prognos h5{
    /* font-size: .8em; */
    color: whitesmoke;
}


.iconDate{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.iconDate img{
    margin: -10px auto;
    text-align: center;
    width: 60px;
    height: 60px;
}

.temperMaxMin{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.temperMaxMin p{
    background-color: whitesmoke;
    margin: 0;
    font-weight: bold;
    padding: 5px;
    opacity: .5;
    font-size: .8em;
}

footer{
    position: relative;
}